<div class="container">
  <div class="title">In-processing is 0% complete</div>
  <div>
    <mat-progress-bar mode="determinate" value="0"></mat-progress-bar>
  </div>
  <div class="info">Steps can be done concurrently</div>
  <div class="selected-step">
    <div class="step-container">
      <div>
        <span>Review Personnel Information</span><br />
        <span><small>Target Completion Date: 2/1/2024</small></span>
      </div>
      <div>
        <mat-icon class="step-icon">pending_actions</mat-icon>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="step-container">
      <div>
        <span>Introduction to New Personnel</span><br />
        <span><small>Target Completion Date: 2/1/2024</small></span>
      </div>
      <div>
        <mat-icon class="completed step-icon">check_circle</mat-icon>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="step-container">
      <div>
        <span>Select Access Required</span><br />
        <span><small>Completion Date: 2/1/2024</small></span>
      </div>
      <div>
        <mat-icon class="step-icon">do_not_disturb_on</mat-icon>
      </div>
    </div>
  </div>
  <div class="step">
    <div class="step-container">
      <div>
        <span>Select IT Hardware & Software</span><br />
        <span><small>Target Completion Date: 2/1/2024</small></span>
      </div>
      <div>
        <mat-icon class="step-icon">do_not_disturb_on</mat-icon>
      </div>
    </div>
  </div>
</div>
