.task-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-bottom: 10px;
}

.title {
  font-size: larger;
}

.step-container {
  display: flex;
  flex-direction: row;
}

.step-icon {
  margin-top: 10px;
  color: #d18a00;
  position: absolute;
  right: 15px;
}

.info {
  background-color: #aaa;
  padding: 5px;
}

.step {
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
}

.disabled {
  color: #999;
  background-color: #eee;
}

.selected {
  border: 1px solid black;
  background-color: #ffeb99;
}

.completed {
  color: #009933;
}
