<div class="content">
  <app-task-list [tasks]="tasks" [startOnTask]="startingTask"></app-task-list>

  <ng-template #task1><p>Task 1 questions go here!!!</p></ng-template>
  <ng-template #task2><p>Task 2 questions go here!!!</p></ng-template>
  <ng-template #task3><p>Task 3 questions go here!!!</p></ng-template>
  <ng-template #task4><p>Task 4 questions go here!!!</p></ng-template>
  <ng-template #task5><p>Task 5 questions go here!!!</p></ng-template>

  <br />

  <app-step-progress></app-step-progress>
</div>
