<div class="flex-container">
  <div class="flex-left-column">
    <div class="container">
      <div class="content">
        <div class="title">Task List is {{progress}}% complete</div>
        <div class="progress">
          <mat-progress-bar mode="determinate" [value]=progress></mat-progress-bar>
        </div>
        <div class="info">Steps can be done concurrently</div>
        @for (task of tasks(); track task.title) {
          <app-task
            [id]="task.id"
            [title]="task.title"
            [selected]="task.id === selectedTask"
            [targetCompletionDate]="task.targetCompletionDate"
            [completed]="task.completed"
            (onClick)="select($event)"
          >
          </app-task>
          <ng-template task [id]="task.id">
            <p>{{task.title}} has {{task.subTasks}} simulated subtasks</p>
            @if(task.template) {
              <hr />
              <ng-container [ngTemplateOutlet]="task.template"></ng-container>
            }
            @if(!task.completed) {
            <hr />
            <button (click)="completeTask(task.id)" mat-flat-button>Complete</button>
            }
          </ng-template>
        }
      </div>
    </div>
  </div>
  <div class="flex-right-column">
    @if(selectedTemplate) {
      <ng-container [ngTemplateOutlet]="selectedTemplate"></ng-container>
    }
  </div>
</div>
