.flex-container {
  display: flex;
  gap: 10px;
}

.flex-left-column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.flex-right-column {
  flex: 5;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.container {
  width: 325px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.title {
  font-size: larger;
}

.progress {
  margin-top: 5px;
}

.info {
  background-color: #aaa;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content {
  margin: 0 auto;
  padding: 5px;
}
